<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Editar Item</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main class="main-adicionar">

        <form action="/editar" method="post">
            <legend>Editar <%= bebida.nome %> </legend>
            <fieldset>
                <input type="text" name="nome" value="<%= bebida.nome  %>">
                <label for="nome">Nome</label>
            </fieldset>
            <fieldset>
                <input type="url" name="img" value="<%= bebida.img  %>">
                <label for="img">Imagem</label>
            </fieldset>
            <fieldset>
                <input type="number" name="ano" value="<%= bebida.ano  %>">
                <label for="ano">Ano de criação</label>
            </fieldset>
            <fieldset>
                <input type="text" name="criador" value="<%= bebida.criador  %>">
                <label for="criador">Criador</label>
            </fieldset>
            <fieldset>
                <input type="text" name="origem" value="<%= bebida.origem  %>">
                <label for="origem">País de origem</label>
            </fieldset>
            <fieldset>
                <input type="text" name="teor" value="<%= bebida.teor  %>">
                <label for="teor">Teor Alcoólico</label>
            </fieldset>
            <div class="btn-adicionar">
            <button type="submit">Editar</button>
            </div>
        </form>
    </main>
    
</body>
</html>