<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de bebidas</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <% bebidas.forEach(element => { %>
                <div class="container-card">
                    <div class="header-card">
                            <a href="/apagar/<%= element.id %> ">
                                <img class="delete-icon" src="./img/delete.png" alt="delete icon">
                            </a>                   
                            <a href="/editar/<%= element.id %>">
                                <img class="edit-icon" src="./img/edit.png" alt="edit icon">
                            </a>
                    </div>
                    <div class="container-img">
                        <a href="/detalhes/<%= element.id %>">
                        <img src="<%= element.img %>" 
                        alt="<%= element.nome %>" 
                        class="card-img"> 
                        </a>
                    </div> 
                    <div class="container-nome">
                        <%= element.nome %>
                    </div>
                    <div class="data-card">
                        <span class="card-criador"><%= element.criador %> </span>
                        <span class="card-origem"><%= element.origem %> </span>
                    </div>
                </div>
        <% }) %>
    </main>
</body>
</html>